<%= form_with(model: daily_exsp_detail, local: true) do |form| %>
  <% if daily_exsp_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_exsp_detail.errors.count, "error") %> prohibited this daily_exsp_detail from being saved:</h2>

      <ul>
        <% daily_exsp_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :daily_exspenses_id %>
    <%= form.text_field :daily_exspenses_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :is_paid %>
    <%= form.check_box :is_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
