<%= form_with(model: daily_exs_detail, local: true) do |form| %>
  <% if daily_exs_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_exs_detail.errors.count, "error") %> prohibited this daily_exs_detail from being saved:</h2>

      <ul>
        <% daily_exs_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <tr>
      <td> <%= form.label :user_id %></td>
      <td><%=  form.select(:user_id, User.all.collect {|p|[ p.name, p.id ] }, { include_blank: true },class:'form-control') %></td>
    </tr>
    <tr>
      <td><%= form.label :daily_exspense_id %></td>
      <td><%=  form.select(:daily_exspense_id, DailyExspense.all.collect {|p| [ p.description, p.id ] }, { include_blank: true },class:'form-control') %></td>
    </tr>
    <tr>
      <td><%= form.label :amount %></td>
      <td><%= form.text_field :amount ,class:'form-control'%></td>
    </tr>
    <tr>
      <td class="btn btn-success"><%= form.submit %></td>
    </tr>
  </table>

<% end %>
