<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @daily_exs_detail.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @daily_exs_detail.amount %>
</p>

<%= link_to 'Edit', edit_daily_exs_detail_path(@daily_exs_detail) %> |
<%= link_to 'Back', daily_exs_details_path %>
