

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table" >
    <tr>
      <td> <%= form.label :name %></td>
      <td> <%= form.text_field :name ,class:"form-control"%></td>
    </tr>
    <tr>
      <td> <%= form.label :email %></td>
      <td> <%= form.text_field :email,class:"form-control" %></td>
    </tr>
    <tr>
      <td>Blance</td>
      <td><%= form.text_field :Blance,class:"form-control" %></td>
    </tr>
    <tr>
      <td><button class="btn btn-success"><%= form.submit %></button></td>
    </tr>
  </table></div>
    <div class="col-md-2"></div>
  </div>
<% end %>
