<%= form_with(model: daily_exspense, local: true) do |form| %>
  <% if daily_exspense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_exspense.errors.count, "error") %> prohibited this daily_exspense from being saved:</h2>

      <ul>
        <% daily_exspense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :totalamount %>
    <%= form.number_field :totalamount %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :creaded_by %>
    <%= form.text_field :creaded_by %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
