
<%= form_with(model: daily_exspense, local: true) do |form| %>
  <% if daily_exspense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_exspense.errors.count, "error") %> prohibited this daily_exspense from being saved:</h2>

      <ul>
        <% daily_exspense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table">
  <tr>
    <td><%= form.label :description %></td>
    <td><%= form.text_field :description ,class:"form-control"%></td>
  </tr>
  <tr>
    <td> <%= form.label :totalamount %></td>
    <td><%= form.text_field :totalamount ,class:"form-control"%></td>
  </tr>
  <tr>
    <td><%= form.label :time %></td>
    <td><%= form.time_field :time ,class:"form-control"%></td>
  </tr>
  <tr>
    <td><%= form.label :creaded_by %></td>
    <td><%= form.text_field :creaded_by ,class:"form-control"%></td>
  </tr>
  <tr>
    <td><%= form.label :status %></td>
    <td> <%= form.text_field :status ,class:"form-control"%></td>
  </tr>
  <tr>
    <td colspan="2" class="btn btn-info"><%= form.submit %></td>
  </tr>
</table>
<% end %>
