<%= form_with(model: exspense_payment, local: true) do |form| %>
  <% if exspense_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exspense_payment.errors.count, "error") %> prohibited this exspense_payment from being saved:</h2>

      <ul>
        <% exspense_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <table class="table">
     <tr>
       <td><%= form.label :user_id %></td>
       <td> <%= form.text_field :user_id %></td>
     </tr>
     <tr>
       <td> <%= form.label :paid_amount %></td>
       <td><%= form.number_field :paid_amount %></td>
     </tr>
     <tr>
       <td colspan="2" class="btn btn-success">  <%= form.submit %></td>
     </tr>

   </table>
<% end %>
