<!DOCTYPE html>
<html>
  <head>
    <title>Hostel Managment systems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="http://www.emartu.com/image/cache/catalog/Hostel-Logo-750x750.png" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/8d981fc222.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- Navigation -->
 

<nav class="navbar navbar-expand-lg "style="background-color: #84CECE;">
 <b>
 <%= link_to "H E M S", home_index_path,class:'navbar-brand',style:'color:white;'%></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left:500px;">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'User list', users_path,class:"nav-link",style:"color: white;font-weight:bold;" %>
        </li>
        <li class="nav-item">
         <%= link_to 'Daily Exes Details', daily_exs_details_path ,class:'nav-link',style:"color: white;font-weight:bold;"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Daily Exsepense', daily_exspenses_path ,class:'nav-link',style:"color: white;font-weight:bold;"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Exsepense Payment', exspense_payments_path,class:'nav-link' ,style:"color: white;font-weight:bold;"%>
        </li>
        <%if hostel_signed_in?%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;color:white;">
             <i class="fas fa-user-circle"></i> Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Edit Admin Account", edit_hostel_registration_path,class:'dropdown-item'%><div class="dropdown-divider"></div>
                  <%= link_to "Log Out", destroy_hostel_session_path, method: :delete,class:'dropdown-item'%>
                </div>
            </div>
          </li>
      <%else%>
         <%= link_to "Admin Login", new_hostel_session_path, class:"btn btn-primary",style:'margin-left:1000px;'%>
        <%end%>
      </ul>
  </div>
</nav>

<%if hostel_signed_in?%>
         
  <!-- Masthead -->
  <header class="masthead text-white text-center" style="background-color: #84CECE;padding:  30px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
         <h1 class="display-5 font-weight-bold"  ><%= yield :page_title%></h1>

        </div>
       
      </div>
    </div>
  </header>

    
      <%end%>





<br>
<div class="row" >
  <div class="col-md-1"></div>
  <div class="col-md-10"><%= yield %></div>
  <div class="col-md-1"></div>
</div>
    
<br>
<!-- Footer -->
  <footer class="footer " style="padding: 50px;background-color: #84CECE;color: white;" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="" style="color:white;">&copy; Your Website 2020. All Rights Reserved.</p>
        </div>
        
      </div>
    </div>
  </footer>



  </body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>